.mainHero {
    background-image: url("./images/holidays-hotel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomsHero {
    background-image: url("./images/rooms.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    text-align: center;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 50px 60px;
    text-transform: capitalize;
}

.btn-primary {
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary:hover {
    background: transparent;
}

.serviceField {
    background: lightgray;
    padding-bottom: 70px;
}

.title {
    text-align: center;
    padding-top: 30px;
}

.serviceParts {
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
}

.serviceArticle {
    text-align: center;
}

.loading {
    text-align: center;
    margin-top: 35px;
}

.featuredField {
    padding: 50px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
    .featuredField {
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
  }
  @media screen and (min-width: 992px) {
    .featuredField {
      max-width: 800px;
    }
  }

  .imageContainer {
    position: relative;
  }

.imageContainer img {
    width: 100%;
    display: block;
}

.price {
    position: absolute;
    top: 0;
    left:0;
    background-color: black;
    color: yellow;
    padding: 5px;
    padding-right: 15px;
    border-radius: 20%;
    opacity: 0.5;
}

.roomBtn {
    position: absolute;
    top: 50%;
    right:37%;
    background-color: black;
    border-radius: 10%;
    color: red;
    padding: 0 15px;
}

.roomBtn:hover {
    background-color: black;
    color: yellow;
}

.roomInfo {
    text-transform: capitalize;
    text-align: center;
    background-color: lightgray;
    border-top: none;
    font-weight: bold;
}

.singleRoomDetail {
    padding: 50px 0px;
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    justify-content: center;
}

.singleRoomDetail img {
    width: 100%;
    display: block;
  }

  .singleRoomInfo {
      text-transform: capitalize;
      margin : 0 50px;
  }

  .singleRoomInfo h3 {
    font-weight: bold;
  }

  .sinleDescription {
      margin-bottom: 30px;
      background-color: lightskyblue;
      padding: 20px;
      text-align: center;
  }

  .info {
    margin-bottom: 30px;
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
  }

  .extrasField {
    margin-bottom: 30px;
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
  }

  .extrasField ul {
      list-style: none;
  }